body{
  font-family: 'Raleway', sans-serif;
}

.button-fila{
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}